node_modules
.next
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log
yarn-error.log
.DS_Store
.vscode
.idea
*.log
*.swp
*.tmp
*.bak
*.cache
README.md
.gitignore
Dockerfile
docker-compose.yml
